*{
    box-sizing: border-box;
}

body{
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2;
}

.wrapper {
    background-color: plum;
    max-width: 1000px;
    margin: 0 auto;
}

.Tulip{
    width: 1000px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: 200;
}

.display li{
    display: inline-block;
    text-align: inherit;
    width: 32%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto
}

.tulip {
    width: 250px;
    height: 250px;
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.stop-float{
    clear: left;
}

footer{
    position: relative;
    width: 90%;
    text-align: right;
    display: left;
    margin-left: auto;
    margin-right: auto
}

.prop {
    width: 100px;
    height: 100px;
    background-color: pink;
    position: absolute;
    top: 25px;
    left: 100px;
}

img {
    width: 100%;
}

.container {
    position: relative;
}

h1 {
    position: absolute;
    color: white;
    width: 65%;
    top: 25%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: 200;
}

.test{
    position: absolute;
    color: black;
    width: 65%;
}

.homepage{
    position: absolute;
    width: 65%;
    top: 38%;
    text-align: center;
    width: 60%;
    
}

.bm-demo{
    width: 900px;px;
    height: 500px;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
}

.send-button{
    width: 80px;
    height: 50px;
    padding: 10px;
    border: 1px solid black;
    margin: 1px;
    color: black;
    text-decoration: black;
    background-color: plum;

}

.prop1{
    width: 1px;
    height: 25px;
    background-color: black;
    position: absolute;
    top: 310px;
    left: 600px;
}

.prop2{
    width: 1px;
    height: 25px;
    background-color: black;
    position: absolute;
    top: 310px;
    left: 850px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: 200;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: 200;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: 200;
}
 
h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 100;
}

a{
    color: black;
    text-decoration: none;
}